body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-box, .App {
  margin-bottom: 50px;
}
/* .card-box {
  width: 30vw;
} */
/* @media only screen */

.hidden {
  display: none;
}

#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid  #330f86;
  width: 12rem;
  height: 12rem;
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}